body {
	background: white;
	color: black;
}

label {
	font: 12px verdana, sans-serif;

	font: bold 14px arial, serif;
	letter-spacing: 0;

	display: block;
	margin: 12px 0 2px 0;
}

div, p, ul, li, h1 {
	margin: 0;
	padding: 0;
}

h1 {
	font: bold 24px arial, serif;
	letter-spacing: -2px;
}

input.text, textarea {
	padding: 4px 6px;
	font: 13px verdana, sans-serif;
	border: 1px solid #666;
	background: #F9F9F5;
	width: 400px;
	color: #222;
}

input.text:focus, textarea:focus {
	border-color: #800;
	background: white;
}

textarea {
	height: 50px;
}

.star-rating {
	list-style: none;
	margin: 2px 0 5px;
	width: 200px;
	height: 20px;
	position: relative;
	background: url(star_rating.gif) top left repeat-x;
}

.star-rating li {
	float: left;
}

.star-rating li a {
	display: block;
	width: 20px;
	height: 20px;
	text-decoration: none;
	z-index: 20;
	position: absolute;
	padding: 0;
}

.star-rating li a:hover {
	background: url(star_rating.gif) left bottom;
	z-index: 1;
	left: 0;
}

.star-rating a.one-star {
	left: 0;
}

.star-rating a.one-star:hover {
	width: 20px;
}

.star-rating a.two-stars {
	left: 20px;
}

.star-rating a.two-stars:hover {
	width: 40px;
}

.star-rating a.three-stars {
	left: 40px;
}

.star-rating a.three-stars:hover {
	width: 60px;
}

.star-rating a.four-stars {
	left: 60px;
}

.star-rating a.four-stars:hover {
	width: 80px;
}

.star-rating a.five-stars {
	left: 80px;
}

.star-rating a.five-stars:hover {
	width: 100px;
}

.star-rating a.six-stars {
	left: 100px;
}

.star-rating a.six-stars:hover {
	width: 120px;
}

.star-rating a.seven-stars {
	left: 120px;
}

.star-rating a.seven-stars:hover {
	width: 140px;
}

.star-rating a.eight-stars {
	left: 140px;
}

.star-rating a.eight-stars:hover {
	width: 160px;
}

.star-rating a.nine-stars {
	left: 160px;
}

.star-rating a.nine-stars:hover {
	width: 180px;
}

.star-rating a.ten-stars {
	left: 180px;
}

.star-rating a.ten-stars:hover {
	width: 200px;
}

#loading {
	position: absolute;
	top: 3px;
	left: 207px;
}

div.updated, div.error {
	font: 12px tahoma, sans-serif;
	margin-top: 16px;
	padding: 6px 9px;
	width: 394px;
}

div.updated {
	background: #CFEBF7;
	border: 1px solid #2580B2;
}

div.error {
	background: #FFEFF7;
	border: 1px solid #CC6699;
}
