#wp_movie_ratings ul li acronym.dtreviewed {
	display: none;
}

#wp_movie_ratings ul li span.version {
	display: none;
}

#wp_movie_ratings ul li p span.rating {
	display: none;
}

#wp_movie_ratings ul.text_ratings li p span.rating {
	display: inline;
	font-weight: bold;
}
