#wp_movie_ratings {
	border: 1px dotted #888;
	border-width: 1px 0;
	width: 100%;
	padding: 6px 0;
	margin: -16px 0 -12px;
}

#wp_movie_ratings h2 {
	margin: 4px 0 11px;
	font: bold 12px verdana, sans-serif;
}

#wp_movie_ratings ul {
	margin: 6px 8px 3px 4px;
	padding: 0;
}

#wp_movie_ratings ul li {
	list-style: none;
	padding: 2px 4px 5px 5px;
	background-color: #F2FDFB;
	position: relative;
}

#wp_movie_ratings ul li.odd {
	background-color: #FDFDF2;
}

#wp_movie_ratings ul li:hover {
	background-color: #E7FDE7;
}

#wp_movie_ratings ul li p {
	margin: 0;
	padding: 0;
	text-align: left;
}

#wp_movie_ratings ul li p a {
	font: 11px verdana, sans-serif;
}

#wp_movie_ratings ul li div.rating_stars {
	position: absolute;
	top: 2px;
	right: 5px;
	font-size: 8px;
}

#wp_movie_ratings ul li p.review {
	font: 11px arial, sans-serif;
	color: #555;
	margin: 2px 80px 1px 12px;
}

#wp_movie_ratings ul li p.review a {
	font: 11px arial, sans-serif;
}